.content{
    max-width: 100%;
    margin: 0 auto;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
nav a{
    color: #589D6B;
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: #589D6B;
    color: white;
}
.book, .join{
    color: white;
    background-color: #589D6B;
}
.book:hover, .join:hover{
    color: white;
    background-color: #589D6B;
}
#background{
    background-color: #589D6B;
}
.msg{
    background-color: #589D6B;
}
footer{
    color: white;
    background-color: #589D6B;
}
.home-title{
    color: white;
}
h4{
    color: white;
}
.msg h2{
    color: white;
}
.msg p{
    color: white;
}
footer a{
    color: white;
}
footer a:hover{
    color: white;
}