body{
    background-color: black;
}
.great{
    background-color: white;
    margin: 0 auto;
    border-radius: 25px;
    width: 300px;
    text-align: center;
}
img{
    border-radius: 25px 25px 0 0;
    width: 300px;
}
.weeks{
    color: #2d54b0;
}
.foot{
    border-radius: 0 0 25px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    background-color: #2d54b0;
}
.number{
    margin: 20px auto 0 auto;
    align-self: end;
    color: white;
}
.bottem{
    margin: 0 auto 20px auto;
    align-self: start;
    color: white;
}