body{
    background-color: gray;
    margin: 0;
    padding: 0;
}
.grid-con{
    align-content: stretch;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: stretch;
    align-items: stretch;
}
.grid-1{
    font-size: 500%;
    z-index: 9;
    place-self: center;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.grid-2{
    background-color: white;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}
.grid-3{
    font-size: 200%;
    place-self: center;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: gray;
    color: darkred;
}
